.git
.gitignore
.next
node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.vscode
.idea
*.log
n100/logs
n100/data/raw
n100/notebooks
n100/__pycache__
frontend/node_modules
frontend/.next
frontend/out
